Source: vyatta-service-ntp
Section: contrib/net
Priority: extra
Maintainer: Vyatta Package Maintainers <DL-vyatta-help@att.com>
Build-Depends: config-package-dev,
               debhelper (>= 9.20160709),
               dh-yang
Standards-Version: 3.9.8

Package: vyatta-service-ntp
Architecture: all
Depends: vyatta-cfg (>= 1.16), libvyatta-interface-perl(>=1.26),
 vyatta-system (>= 2.21.6), chrony (>= 4.0), netplug,
 ${misc:Depends}, ${perl:Depends}
Conflicts: vyatta-cfg-system (<< 2.5)
Replaces: vyatta-cfg-system (<< 2.5)
Description: Vyatta ntp integration
 Provides scripts and configurations files necessary to
 integrate ntpd with the Vyatta configuration system.

Package: vyatta-system-time-v1-yang
Architecture: all
Depends: vyatta-service-ntp, ${misc:Depends}, ${yang:Depends}
Description: vyatta-system-time-v1 module
 NTP configuration

Package: vyatta-system-time-routing-instance-v1-yang
Architecture: all
Depends: libvyatta-vrfmanager-sh, chvrf, ${misc:Depends}, ${yang:Depends}
Conflicts: vyatta-cfg-system (<< 2.5)
Replaces: vyatta-cfg-system (<< 2.5)
Description: vyatta-system-time-routing-instance-v1 module
 Routing Instance NTP configuration
